# **아파트 실거래가 예측 프로젝트**
# **Stage 1**

# **1. Intro**

![042-inner]()

**'내 집 마련'**　누구나 마음 한켠에서 고민하는 주제입니다.<br/>
- *통계청 2015년 자료에 의하면 (https://bit.ly/2SFyzMA)*    
*일반적인 한국인의 절반은 48.1%는 아파트에 살고 있습니다.*     
*또한 아파트를 부의 증식 수단으로 생각 하기 때문에 누구나 아파트 가격에 관심이 많습니다.*  
*하지만 자고 일어나면 달라지는 아파트 가격, 언제 집을 구매하면 좋을까요? *  
*초보부터 고수까지 모두가 참여하는 아파트 실거래가 예측 프로젝트를 소개합니다!*    



<p style='text-align: right;'> January, 2023, ver.001 | DaCrew 4기 TEAM 먼스크루</p>

---

#### <font color="midnightblue">**아파트 실거래가 예측 프로젝트**</font>에 참여하신 데이커 여러분, 환영합니다. 🙌

신나는 퇴근길, 서울 야경을 보면 저렇게 많은 불빛 가운데 내 집은 없다는 사실에 고민이 많아집니다.🥲<br/>
하지만 하루가 다르게 자고 일어나면 달라지는 부동산 가격, <br/>
높은 가격에 구매하기 싫은 구매자의 심리는 우리를 고민속에 빠지게 만듭니다.<br/>
이번 교육을 통해 **아파트 매매 데이터**로 아파트 매매 가격을 예측해 내는 멋진 데이커🥇가 되어 보세요!

---


# **2. 프로젝트 배경**
<font color="grey">[그림1] '서울 집값'을 검색해보면 불과 1년 사이에 급등과 급락을 반복하고 있음을 알 수 있다.</font>
<img src='http://drive.google.com/uc?export=view&id=1t-PyJsV-FgBsE68izdrv8Gn-LDq3iKmK' /><br>
<img src='http://drive.google.com/uc?export=view&id=1SmXLznfEP70_qB9xt0B1a9l5bxgnd4jJ' /><br>

최근 뉴스를 보면 부동산 가격이 떨어지고 있음을 알 수 있습니다. <br>
하지만 우리의 기억 속에는 1년 전 치솟는 가격속에 부동산 열풍이 기억납니다. <br>
생각해보면 우리는 가격이 오르면 떨어지기를 기다리고 정작 가격이 떨어지면 최저점이 될 때 까지 기다리다 시기를 놓치곤 합니다. <br>
매번 남이 사면 오르고 내가 사면 떨어지는 마법같은 가격의 비밀을 데이터를 통해 합리적인 가격을 예측해 보고자 해당 프로젝트를 만들었습니다.

# **3. 데이터 살펴보기**

## 3.1. 데이터 불러오기

데이터 분석을 위한 첫 관문은 **데이터를 사용할 수 있도록 불러오는 것입니다.**    
불러온 데이터를 살펴보며 데이터의 형식과 대략적인 특징을 파악하고, 어떤 분석이 가능한지 확인하여 방향을 잡는 과정이 필요합니다.


---



이번 프로젝트의 데이터는 총 5가지이며 모두 csv 파일입니다.

> 1. **train.csv** : 서울/부산 지역의 1,100,000여개 거래 데이터, 아파트 거래일, 지역, 전용면적, 실 거래가 등의 정보
> 2. **test.csv** : 실 거래가를 제외하고 train.csv와 동일
> 3. **park.csv** : 서울/부산 지역의 공원에 대한 정보
> 4. **day_care_center.csv** : 서울/부산 지역의 어린이집에 대한 정보 정답 파일
> 5. **submission.csv** : 제출 대상 파일

분석에 사용할 데이터 파일을 불러오기 위해, **pandas 패키지**가 가지고 있는 **<font color="orange">read_csv()</font>** 함수를 사용하겠습니다.   
- pandas 패키지에 관한 내용은 다음 링크를 참고해주세요! [pandas 공식 유저 가이드](https://pandas.pydata.org/docs/user_guide/index.html#user-guide)    
- 패키지 불러오기: **<font color="orange">import 패키지명 as 약어</font>**

---

### Inst.

1. pandas 패키지를 pd 라는 약칭으로 import 하세요.

2. read_csv() 메소드를 이용해    
<font color="green">train.csv, test.csv, park.csv, day_care_center.csv, sample_submission.csv </font>파일을    
<font color="green">train, test, park, day_care_center, sample_submission</font> 이름으로 불러오세요!

In [ ]:
# 1. pandas 패키지를 pd 라는 약칭으로 import 하세요.

In [ ]:
# 2. read_csv() 메소드를 이용해 파일 불러오세요.

### Hint.
- <font color="orange">약칭.메소드</font>로 패키지를 사용할 수 있습니다. 
    - <font color="orange">OO.OOOO_OOO()</font>

- 파일을 불러올 변수 = 약칭.read_csv("불러올 파일 경로")

### Solution.
**데이터를 불러오는 방식은 접속 환경(로컬 컴퓨터, Colab 등)에 따라 다양**하나, [Jupyter Lite](https://jupyter.org/try-jupyter/lab/)에서 불러올 수 있는 방법을 소개하겠습니다.    
<img src='http://drive.google.com/uc?export=view&id=165LPD276TSlFXZYjFSL5JKlIlYiZwszc' /><br>
왼쪽 위에서 파일 업로드 아이콘을 선택하여 데이터 5개를 업로드합니다.

In [ ]:
# 1. pandas 패키지를 pd 라는 약칭으로 import 하세요.
import pandas as pd # import 패키지명 as 약어

In [ ]:
# 2. read_csv() 메소드를 이용해 파일 불러오세요.
train = pd.read_csv('train.csv') # pd.read_csv(PATH) -> PATH에 로컬 저장 경로 입력 ex) C:/home/data/train.csv
test = pd.read_csv('test.csv')
park = pd.read_csv('park.csv')
day_care_center = pd.read_csv('day_care_center.csv')
submission = pd.read_csv('submission.csv')

## 3.2. 데이터 확인

데이터가 잘 불러와졌는지, 어떻게 생겼는지 살펴보겠습니다.

데이터 과학 실무 과정에서는 데이터를 살펴볼 때, **이상치나 결측치**가 존재하는지 알기 위하여    
**head()**, **info()** 메소드를 활용하는 경우가 많습니다.

그럼 데이터가 어떻게 생겼는지 이 두 가지 메소드를 이용하여 직접 확인해 보세요!

### Inst.
1.   **head()** 함수를 사용하여 train, test, submission 데이터의 **처음 5행**을 확인해 보세요.
2.   **info()** 함수를 사용하여 train, test, submission 데이터의  **결측치와 변수 타입**을 확인해 보세요.

In [ ]:
# 1. head() 함수를 사용하여 train, test, submission 데이터의 처음 5행을 확인해 보세요.

In [ ]:
# 2. info() 함수를 사용하여 train, test, submission 데이터의 결측치와 변수 타입을 확인해 보세요.

### Hint.
- <font color="orange">head()</font> : 처음 5행 선택    
    - <font color="orange">(숫자)</font>를 넣으면 지정 숫자만큼의 행을 선택할 수 있습니다.

- <font color="orange">info()</font> : 데이터 결측치 및 변수들의 타입 확인

### Solution.

In [ ]:
# 1. head() 함수를 사용하여 train, test, submission 데이터의 처음 5행을 확인해 보세요.
train.head()

,transaction_id,apartment_id,city,dong,jibun,apt,addr_kr,exclusive_use_area,year_of_completion,transaction_year_month,transaction_date,floor,transaction_real_price
0,0,7622,서울특별시,신교동,6-13,신현(101동),신교동 6-13 신현(101동),84.82,2002,200801,21~31,2,37500
1,1,5399,서울특별시,필운동,142,사직파크맨션,필운동 142 사직파크맨션,99.17,1973,200801,1~10,6,20000
2,2,3578,서울특별시,필운동,174-1,두레엘리시안,필운동 174-1 두레엘리시안,84.74,2007,200801,1~10,6,38500
3,3,10957,서울특별시,내수동,95,파크팰리스,내수동 95 파크팰리스,146.39,2003,200801,11~20,15,118000
4,4,10639,서울특별시,내수동,110-15,킹스매너,내수동 110-15 킹스매너,194.43,2004,200801,21~31,3,120000

In [ ]:
test.head()

,transaction_id,apartment_id,city,dong,jibun,apt,addr_kr,exclusive_use_area,year_of_completion,transaction_year_month,transaction_date,floor
0,1145756,10453,서울특별시,목동,938,청학,목동 938 청학,35.5500,2002,201711,11~20,2
1,1198704,989,부산광역시,초량동,1143-8,고관맨션,초량동 1143-8 고관맨션,68.7200,1977,201708,21~31,2
2,1222384,8597,부산광역시,괴정동,447-13,우림그린,괴정동 447-13 우림그린,72.5400,1989,201710,11~20,2
3,1179897,11086,서울특별시,대치동,1007-2,풍림아이원4차(1007-2),대치동 1007-2 풍림아이원4차(1007-2),111.5400,2004,201707,1~10,10
4,1223091,2121,부산광역시,다대동,1670,다대롯데캐슬블루,다대동 1670 다대롯데캐슬블루,119.6398,2014,201712,11~20,21

각 컬럼은 **문자열, 정수, 실수** 등 다양하게 구성되어 있네요!    
test 데이터는 예측해야할 컬럼인 <font color="green">transaction_real_price</font>가 없습니다.

In [ ]:
submission.head()

   transaction_id  transaction_real_price
0         1145756                       0
1         1198704                       0
2         1222384                       0
3         1179897                       0
4         1223091                       0

submission 데이터에서 test 데이터와 동일한 transaction_id가 보입니다.    
test 데이터로 예측한 <font color="green">transaction_real_price</font>를 submission에 입력하면 되겠네요.

In [ ]:
# 2. info() 함수를 사용하여 train, test, submission 데이터의 결측치와 변수 타입을 확인해 보세요.
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1216553 entries, 0 to 1216552
Data columns (total 13 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   transaction_id          1216553 non-null  int64
 1   apartment_id            1216553 non-null  int64
 2   city                    1216553 non-null  object
 3   dong                    1216553 non-null  object
 4   jibun                   1216553 non-null  object
 5   apt                     1216553 non-null  object
 6   addr_kr                 1216553 non-null  object
 7   exclusive_use_area      1216553 non-null  float64
 8   year_of_completion      1216553 non-null  int64
 9   transaction_year_month  1216553 non-null  int64
 10  transaction_date        1216553 non-null  object
 11  floor                   1216553 non-null  int64
 12  transaction_real_price  1216553 non-null  int64
dtypes: float64(1), int64(6), object(6)
memory usage: 120.7+ MB

**RangeIndex: 1216553 entries, 0 to 1216552**
▶ train 데이터의 개수는 총 1,216,553개입니다.

**Data columns (total 13 columns):**
▶ 13개의 컬럼으로 구성되어 있고요,

**\#   Column**
▶ 각 컬럼 정보는 데이터 명세와 동일하네요.

**1216553 non-null**
▶ 전체 데이터 모두 결측치가 없습니다.

**dtypes: float64(1), int64(6), object(6)**
▶ 데이터 타입은 정수형, object, 실수형으로 다양하게 구성되어 있습니다.

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5463 entries, 0 to 5462
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   transaction_id          5463 non-null   int64
 1   apartment_id            5463 non-null   int64
 2   city                    5463 non-null   object
 3   dong                    5463 non-null   object
 4   jibun                   5463 non-null   object
 5   apt                     5463 non-null   object
 6   addr_kr                 5463 non-null   object
 7   exclusive_use_area      5463 non-null   float64
 8   year_of_completion      5463 non-null   int64
 9   transaction_year_month  5463 non-null   int64
 10  transaction_date        5463 non-null   object
 11  floor                   5463 non-null   int64
dtypes: float64(1), int64(5), object(6)
memory usage: 512.3+ KB

#### QUIZ     
test.info()도 train.info()와 비슷하게 구성되어 있습니다.    
위에서 확인한 해석을 토대로 **해석을 도전**해보세요!

**RangeIndex: 5463 entries, 0 to 5463**
▶ test 데이터의 개수는 총 0,000개입니다.

**Data columns (total 12 columns):**
▶ 00개의 컬럼으로 구성되어 있고요,

**\#   Column**
▶ 각 컬럼 정보는 데이터 명세와 동일하네요.

**1216553 non-null**
▶ 전체 데이터 모두 결측치가 없습니다.

**dtypes: float64(1), int64(5), object(6)**
▶ 데이터 타입은 00형, 000000, 00형으로 다양하게 구성되어 있습니다.

----
#### ANSWER

**RangeIndex: 5463 entries, 0 to 5463** ▶ test 데이터의 개수는 총 5,463개입니다.

**Data columns (total 12 columns)**: ▶ 12개의 컬럼으로 구성되어 있고요,

**\# Column** ▶ 각 컬럼 정보는 데이터 명세와 동일하네요.

**5463 non-null** ▶ 전체 데이터 모두 결측치가 없습니다.

dtypes: float64(1), int64(5), object(6) ▶ 데이터 타입은 정수형, object, 실수형으로 다양하게 구성되어 있습니다.

In [ ]:
submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5463 entries, 0 to 5462
Data columns (total 2 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   transaction_id          5463 non-null   int64
 1   transaction_real_price  5463 non-null   int64
dtypes: int64(2)
memory usage: 85.5 KB

# 4. 제출 준비하기

이제 제출을 진행하겠습니다. 

초기 상태의 submission.csv 파일을 제출하여 **리더보드**에 올라가 봅시다.  

이후 스테이지를 거듭하며 조금씩 점수를 갱신해보겠습니다.

아래와 같이 to_csv 메소드를 이용하여 submission을 **submission.csv**로 저장해 제출할 수 있습니다.

<font color=red>submission</font><font color=orange>.to_csv</font><font color=black>(</font><font color=green>'beseline.csv',</font><font color=blue>index=False</font><font color=black>)</font>     

각 기능을 색깔로 구별해 볼까요? </br>     

<font color=red>데이터셋이 있는 객체명</font><font color=orange>.객체가 가지고 있는 csv 파일 생성용 매소드(함수)</font><font color=black>(</font><font color=green>저장할 파일의 이름과 확장자,</font><font color=blue>인덱스를 설정하지 않겠음(False)</font><font color=black>)</font>

### Inst.

기본적으로 **".to_csv" 메소드는 데이터프레임(ex. submission) 객체의 내용을 csv 파일 형태로 만들어 저장해 주는 기능**입니다. </br>
이렇게 해야 비로소 파이썬 안에서 작업한 내용이 파이썬 밖으로 빠져나가 여러분이 만질 수 있는 형태가 되는 거죠. </br>
이처럼 파일을 불러서 처리한 후, 저장하는 일련의 과정을 "데이터 i/o(input/output)를 처리한다" 라고 합니다. </br> 

그럼 **to_csv 메소드를 이용하여 submission 객체의 내용을 csv 파일 형태**로 만들어 주고,   
index=False를 하여 추가적인 인덱스 설정을 하지 말아 보겠습니다.

In [ ]:
# to_csv 메소드를 이용하여 submission을 submission.csv로 저장해보세요.

### Hint.
**정확한 채점을 위해서는 index=False를 꼭 넣어 주어야 합니다.**

### Solution.

In [ ]:
# to_csv 메소드를 이용하여 submission을 submission.csv로 저장해보세요.
submission.to_csv('submission.csv', index=False)